.App {
  >ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 50px 0;
    grid-row-gap: 50px;
    >li {
      text-align: center;
    }
  }
}
